
html, body, input, textarea, select, button {
  background-color: #1c1e1f;
}
html, body, input, textarea, select, button {
  border-color: #646464;
  color: #ffffff;
}
a {
  color: #3ba7ff;
}
table {
  border-color: #575757;
}
::placeholder {
  color: #d6d0c5;
}
::selection {
  background-color: #006aeb;
  color: #ffffff;
}
::-moz-selection {
  background-color: #006aeb;
  color: #ffffff;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #616900 !important;
  color: #ffffff !important;
}
::-webkit-scrollbar {
  background-color: #202324;
  color: #e3ded5;
}
::-webkit-scrollbar-thumb {
  background-color: #303335;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #393d3f;
}
::-webkit-scrollbar-thumb:active {
  background-color: #464a4d;
}
::-webkit-scrollbar-corner {
  background-color: #1c1e1f;
}
* {
  scrollbar-color: #303335 #202324;
}
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center; 
}
.scrolling-wrapper  .card{
    flex: 0 0 auto;
    width:15vw;


}
  .scrolling-wrapper .card h4{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }
  .scrolling-wrapper  .card p{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.4em;
    line-height: 1.8em;
    text-align: center;
  }
.card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
         column-count: 5;
}

.carousel-inner > .item {
    height: 200px;
 }
 .card, hr{
   background: #1c1e1f;
   border: .5px solid rgb(65, 63, 63);
   opacity: 1;
 }
 img,.card-img, .carousel, .carousel-inner, .card, .card-body, .card-columns{
     border-radius: 1rem;
 }
 .card-columns .card-body{
   border: .5px solid rgb(65, 63, 63);
   padding-top: 0;
   padding-bottom: 0;
 }

 .card-columns .card, .scrolling-wrapper .card{
    transition-duration: 0.3s;
 }

 .card-columns .card:hover, .scrolling-wrapper .card:hover{
  opacity: 0.5;
  transition-duration: 0.3s;
 }
 .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%;
  }
  .card-img-top {
    width: 100%;
    min-height: 220px;
    object-fit: cover;
    border-radius: 1rem;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  .carousel{
    margin: 0 auto;
  }
  a, .page-item{
    color: rgb(255, 123, 0);
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }

::-webkit-scrollbar-track
{
  
	border-radius: 1rem;
	background-color: #1c1e1f;;
}

::-webkit-scrollbar
{

  visibility: hidden;
	width: 10px;
	background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  
	border-radius: 1rem;
	background-color: #2e2e2e;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.form-control, .btn{
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem;
}
.carousel-inner:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0, 0, 0, 0.75);
}
#carousel-moviesbyactor  .carousel-inner:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(125,125,125,0) 75%, rgba(255,255,255,0) 100%);
}

#carousel  .carousel-inner:after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(125,125,125,0) 35%, rgba(255,255,255,0) 100%);
}

.card-title{
  white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1.8em;
    line-height: 1.8em;
    
    font-weight: 500;
}

.card-columns .card:hover{
  cursor: pointer;
}
#carousel .carousel-item:hover{
  cursor:pointer;
}
.pagination > li > a
{
    background-color: #1c1e1f;
    color: rgb(255, 123, 0);
    border: .5px solid rgb(65, 63, 63);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #1c1e1f;;
    border: .5px solid rgb(65, 63, 63);
}

.pagination > .active > a
{
    color: #1c1e1f;
    background-color: rgb(255, 123, 0) !Important;
    border: solid 1px rgb(255, 123, 0) !Important;
}

.pagination > .active > a:hover
{
    background-color: rgb(255, 123, 0) !Important;
    border: solid 1px rgb(255, 123, 0);
}
.card-columns .card-body{
  margin-top:1vh;
}